<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:"http://wwww.w3.org/1999/xhtml">
    <head>
        <title>Modificar Cliente</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Datos de Cliente</h1>
        <a th:href="@{/personas}">Regresar</a>
        <br>
        <div>
            <form th:object="${persona}"
                  th:action="@{/save}"
                  method="POST"
                 >
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" th:field="*{nombre}" name="nombre" ></input>
                </div>
            
                <div>
                    <label for="apellido1">Apellido 1:</label>
                    <input type="text" th:field="*{apellido1}" name="apellido 1" ></input>
                </div>
            
                <div>
                    <label for="apellido2">Apellido 2:</label>
                    <input type="text" th:field="*{apellido2}" name="apellido 2" ></input>
                </div>
            
                <div>
                    <label for="email">Correo:</label>
                    <input type="text" th:field="*{email}" name="email" ></input>
                </div>
            
                <div>
                    <label for="nombre">Telefono:</label>
                    <input type="text" th:field="*{telefono}" name="telefono"></input>
                </div>
                <div>
                    <label for="pais">Pais:</label>
                    <input type="text" th:field="*{pais}" name="pais"></input>
                </div>
            
                <button type="submit" value="Guardar">Submit</button>
            </form>
        </div>
    </body>
</html>
